<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--The content of element type "configuration" must match
   "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,
    reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)".-->

<configuration>
    <!-- 引入外部配置文件
    1.properties 元素体内指定的属性首先被读取
    2.然后读取 properties 元素中的 resource/url 并覆盖已读取的同名属性。
    3.最后读取作为方法参数传递的属性，并覆盖已读取的同名属性。 -->
    <properties resource="generator.properties">
        <property name="jdbc.user" value="root"/>
        <property name="jdbc.pwd" value="ssss2222"/>
    </properties>

    <typeAliases>
        <typeAlias type="com.szh.po.Role" alias="role"/>
    </typeAliases>
    <!-- 配置mybatis运行环境 -->
    <environments default="development">
        <environment id="development">
            <!-- type="JDBC" 代表使用JDBC的提交和回滚来管理事务 -->
            <transactionManager type="JDBC"/>
            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.connectionURL}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.pwd}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 注册userMapper.xml文件-->
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper class="com.szh.mapper.RoleMapper2"/>
    </mappers>
</configuration>